*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main-nav{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8.2rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    color: white;
    background-color: #002a56;
    z-index: 10;
    background-image: linear-gradient(to right, #001f52, #00285d, #013268, #003b73, #00457e);
}
.logo{
    display: flex;
    font-size: 2.3rem;
    /* justify-content: center; */
    align-items: center;
    /* background-color: azure; */
    grid-column: 2/3;
}
.logo h2{
    padding-left: 10px;
}
.menu-link{
    grid-column: 3/4;
}

.no-bullets{
    display: flex;
    height: 8.2rem;
    font-size: 1.7rem;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
.no-bullets a{
    color: white;
}
.others{
    grid-column: 4/5;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
    font-size: 2rem;
}
.others .hamburger-menu{
    display: none;
    font-size: 2rem;
    font-weight: 300;
}
.globe{
    font-size: 3rem;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:40px;
    height: 4.5rem;
    width: 11rem;
    /* background-color: #2fe677; */
    background-color: #209a50;
    font-weight: 600;
    transition: all 0.6s;
}
.login:hover{
    background-color: white;
    border-color: #002a56;
    color: #002a56;
}
.login,.globe{
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .main-nav{
        width: 100vw;
        height: 8.2rem;
        display: grid;
        grid-template-columns: 2rem 2fr 3fr 1fr 2rem;
        color: white;
        background-color: #002a56;
    }
    .others{
        gap: 1rem;
    }
}
@media screen and (max-width: 920px){
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
      }
    .menu-link{
        display: none;
    }
    .login,.globe{
        display: none;
    }
    .mobile-menu-link {
        grid-column: 2/4;
    }
    .others .hamburger-menu{
        display: block;
    }
    .mobile-menu-link{
        display: grid;
        position: relative;
        z-index: 99;
        background-color: #002a56;
        height: 20rem;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 1s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
      }
      .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
      }
      .others {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
      }
}